.App {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  min-height: 100vh;
}

.header {
  padding: 15px;
  margin-bottom: 0;
  background-color: #3c8cad;
  color: white;
}

.task-done {
  text-decoration: line-through;
}

.delete-all-tasks {
  margin-top: 8px;
  padding: 10px;
  border: none;
  background-color: rgb(255 105 156);
  color: white;
  font-weight: 800;
  text-transform: uppercase;
}

@media screen and (min-width: 568px) {
  .App {
    max-width: 568px;
  }
}
